include ../partials/header.jade

section.admin-menu
  h1.debug-restricted
    | Administration
  ul
    li
      | Produkte
      ul
        li
          md-button(ui-sref='.product-list', ui-sref-active="md-primary")
            | Produktliste
        li
          md-button(ui-sref='.product-create', ui-sref-active="md-primary")
            | Neues Produkt erfassen
    li
      md-button(ui-sref='.order-list', ui-sref-active="md-primary")
        | Bestellungen
    li
      | Benutzer
      ul
        li
          md-button(ui-sref='.user-list', ui-sref-active="md-primary")
            | Benutzerliste
        li
          md-button(ui-sref='.user-create', ui-sref-active="md-primary")
            | Neuen Benutzer erfassen

section
  div(ui-view='')
