include ../shared/sidenav/sidenav.jade

section(layout='row', flex)
	h1
		| This is the admin view.
	ul
		li
			a(ui-sref='.product-list')
				| list all
		li
			a(ui-sref='.product-add')
				| add new

section(layout='row', flex)
	div(ui-view='')

