include ../partials/header.jade

section
  h1.debug-restricted
    | Administration
  ul
    li
      | Produkte
      ul
        li
          a(ui-sref='.product-list')
            | Produktliste
        li
          a(ui-sref='.product-add')
            | Neues Produkt erfassen
    li
      | users
      ul
        li
          a(ui-sref='.user-list')
            | Benutzerliste
        li
          a(ui-sref='.user-create')
            | Neuen Benutzer erfassen

section
  div(ui-view='')
