include ../partials/header.jade

section
	h1.debug-restricted
		| This is the admin view.
	ul
		li
			| products
			ul
				li
					a(ui-sref='.product-list')
						| list all products (with actions)
				li
					a(ui-sref='.product-add')
						| add new product
		li
			| users
			ul
				li
					a(ui-sref='.user-list')
						| list all users (with actions)
				li
					a(ui-sref='.user-create')
						| add new user

section
	div(ui-view='')
