md-content(layout-wrap, class='md-padding')
  // email disabled
  form(name='form', ng-submit='changePassword(form)', novalidate)
    // email and password
    md-input-container(class='md-block')
      label
        | E-Mail Adresse
      input(type='email', name='email', ng-model='user.email', disabled)


    md-input-container(md-is-error='(form.oldPassword.$touched && form.oldPassword.$invalid) || form.oldPassword.$error.mongoose', class='md-block')
      label
        | Aktuelles Passwort
      input(type='password', name='oldPassword', ng-model='user.oldPassword', required, mongoose-error)

      div(class='help-block', ng-messages='form.oldPassword.$error', ng-show='(form.oldPassword.$touched && form.oldPassword.$invalid) || form.oldPassword.$error.mongoose')
        include ../../partials/form.messages.password.jade


    md-input-container(md-is-error='form.newPassword.$touched && form.newPassword.$invalid', class='md-block')
      label
        | Neues Passwort
      input(type='password', name='newPassword', ng-model='user.newPassword', required)

      div(class='help-block', ng-messages='form.newPassword.$error', ng-show='form.newPassword.$touched && form.newPassword.$invalid')
        include ../../partials/form.messages.password.jade


    md-button(type='submit', class='md-raised md-primary', ng-disabled='form.$invalid')
      | Speichern
