.brew__orders--client {
  md-toolbar {
    cursor: pointer;
  }

  .state- {
    &closed {
      .icon-open {
        display: inline-block;
      }
      .icon-close {
        display: none;
      }
    }

    &open {
      .icon-open {
        display: none;
      }
      .icon-close {
        display: inline-block;
      }
    }
  }
}
