include ../../partials/header.jade

section
  h1
    | Persönlicher Bereich

md-content(class='brew__orders--client')
  // PASSWORD
  div(ng-class="{ 'state-open': showPasswordChildren, 'state-closed': !showPasswordChildren }")
    md-toolbar(ng-click='showPasswordChildren = !showPasswordChildren')
      div(class='md-toolbar-tools')
        span
          | Passwort ändern
        span(flex)
        md-button(class='md-icon-button', aria-label='Auf-/zuklappen')
          md-icon(md-svg-icon='expand_more', class='icon-open brew__icon--fixed')
          md-icon(md-svg-icon='expand_less', class='icon-close brew__icon--fixed')

    div(ng-show='showPasswordChildren')
      include partial-password.jade

  md-divider

  // ADDRESS
  div(ng-class="{ 'state-open': showAddressChildren, 'state-closed': !showAddressChildren }")
    md-toolbar(ng-click='showAddressChildren = !showAddressChildren')
      div(class='md-toolbar-tools')
        span
          | Rechnungsadresse
        span(flex)
        md-button(class='md-icon-button', aria-label='Auf-/zuklappen')
          md-icon(md-svg-icon='expand_more', class='icon-open brew__icon--fixed')
          md-icon(md-svg-icon='expand_less', class='icon-close brew__icon--fixed')

    div(ng-show='showAddressChildren')
      include partial-address.jade

  md-divider

  // ORDERS
  div(ng-class="{ 'state-open': showOrdersChildren, 'state-closed': !showOrdersChildren }")
    md-toolbar(ng-click='showOrdersChildren = !showOrdersChildren')
      div(class='md-toolbar-tools')
        span
          | Meine Bestellungen&#160;
        span(ng-show='myOrders.length > 0')
          | ({{myOrders.length}})
        span(flex)
        md-button(class='md-icon-button', aria-label='Auf-/zuklappen')
          md-icon(md-svg-icon='expand_more', class='icon-open brew__icon--fixed')
          md-icon(md-svg-icon='expand_less', class='icon-close brew__icon--fixed')

    div(ng-show='showOrdersChildren')
      include partial-orders.jade
