h2.debug-restricted
  | Bestellungen
section
  md-content(layout-wrap, class='md-padding')
    p(ng-show='orders.length === 0')
      | Keine Bestellungen vorhanden

    md-card(ng-repeat='order in orders track by order._id')
      md-card-content
        include partial-order-detail.jade


        div(layout='row', layout-align='end center', class='md-actions')
          md-button(ui-sref='admin.order-edit({ id: order._id })', class='md-raised md-primary')
            | Bearbeiten
          md-button(ng-click='confirmDelete(order)', class='md-raised md-warn')
            | Löschen
