h2.md-title
  | Bestellungen nach Status (insgesamt: {{orders.length}})
section
  md-content(layout-wrap)
    // NO ORDERS
    p(ng-show='orders.length === 0')
      | Keine Bestellungen vorhanden


    md-tabs(ng-show='orders.length > 0', md-dynamic-height, md-border-bottom)
      // TAB: NEW orders
      md-tab(label='Neu')
        md-card(ng-repeat='order in orders | orderBy: "-dateCreated" | filter: { state: "new" }:true track by order._id', class='brew__orders')
          md-card-content
            include partial-order-detail.jade
            include partial-order-detail-actions.jade

      // TAB: OPEN orders
      md-tab(label='Rechnung offen')
        md-card(ng-repeat='order in orders | orderBy: "-dateUpdated" | filter: { state: "open" }:true track by order._id', class='brew__orders')
          md-card-content
            include partial-order-detail.jade
            include partial-order-detail-actions.jade

      // TAB: PAID orders
      md-tab(label='Bezahlt')
        md-card(ng-repeat='order in orders | orderBy: "-dateUpdated" | filter: { state: "paid" }:true track by order._id', class='brew__orders')
          md-card-content
            include partial-order-detail.jade
            include partial-order-detail-actions.jade

      // TAB: DONE orders
      md-tab(label='Abgeschlossen')
        md-card(ng-repeat='order in orders | orderBy: "-dateUpdated" | filter: { state: "done" }:true track by order._id', class='brew__orders')
          md-card-content
            include partial-order-detail.jade
            include partial-order-detail-actions.jade
