h2.debug-restricted
  | Bestellungen
section
  md-content(layout-wrap, class='md-padding')
    p(ng-show='orders.length === 0')
      | Keine Bestellungen vorhanden

    md-card(ng-repeat='order in orders track by order._id')
      md-card-content
        p(ng-show='order.userEmail !== "undefined"')
          | Registrierte Benutzer E-Mail: {{order.userEmail}}

        p
          | orderId: {{order.orderId}}
        p
          | bestellt am: {{order.dateCreated}}
        p
          | letzte Statusänderung am: {{order.dateUpdated}}
        p
          | Status: {{order.state}}
        p
          | Adresse: {{order.addressLastName}} {{order.addressFirstName}} {{order.addressStreet}} {{order.addressZip}} {{order.addressCity}}
        p(class='md-title')
          | Produkte:

        ul(ng-repeat='items in order.products track by $index')
          li
            | id: {{order.products[$index]._id}}
          li
            | qty: {{order.products[$index]._qty}}

        p
          | Bestellsumme: {{order.total}}


        div(layout='row', layout-align='end center', class='md-actions')
          md-button(ui-sref='admin.order-edit({ id: order._id })', class='md-raised md-primary')
            | Bearbeiten
          md-button(ng-click='confirmDelete(order)', class='md-raised md-warn')
            | Löschen
