p(ng-show='order.userEmail !== "undefined"')
  | Registrierte Benutzer E-Mail: {{order.userEmail}}

p
  | Bestellnummer: {{order.orderId}}
p
  | bestellt am: {{order.dateCreated | date: 'dd.MM.yyyy HH:mm'}}
p
  | letzte Statusänderung am: {{order.dateUpdated | date: 'dd.MM.yyyy HH:mm'}}
p
  span Status:&#160;
  span(ng-switch='order.state')
    span(ng-switch-when='new') neu
    span(ng-switch-when='open') Rechnung offen
    span(ng-switch-when='paid') bezahlt
    span(ng-switch-when='done') abgeschlossen
p
  | Adresse: {{order.addressLastName}} {{order.addressFirstName}} {{order.addressStreet}} {{order.addressZip}} {{order.addressCity}}
p(class='md-title')
  | Produkte:

ul(ng-repeat='items in order.products track by $index')
  li
    | {{order.products[$index]._name}} (ean: {{order.products[$index]._ean}})
  li
    | Einzelpreis: {{order.products[$index]._price | number:2}}
  li
    | Bestellmenge: {{order.products[$index]._qty}}

p
  | Bestellsumme: {{order.total | number:2}}
