div(layout='row', layout-align='end center', class='md-actions')
  md-button(ui-sref='admin.order-edit({ id: order._id })', class='md-raised md-primary')
    | Bearbeiten
  md-button(ng-click='confirmDelete(order)', class='md-raised md-warn')
    | Löschen
