div(ng-class="{ 'state-open': showChildren, 'state-closed': !showChildren }")
  md-toolbar(ng-click='showChildren = !showChildren', ng-class='order.state')
    div(class='md-toolbar-tools')
      md-chips
        md-chip
          md-icon(md-svg-icon='today', class='brew__icon--align brew__icon--onchip')
          span
            | {{order.dateCreated | date: 'dd.MM.yyyy HH:mm'}}
        md-chip(hide, show-gt-xs)
          md-icon(md-svg-icon='assignment', class='brew__icon--align brew__icon--onchip')
          span
            | {{order.orderId}}
        md-chip(hide, show-gt-sm)
          md-icon(md-svg-icon='assignment_ind', class='brew__icon--align brew__icon--onchip')
          span
            | {{order.addressLastName | limitTo: 30}}
        md-chip(hide, show-gt-sm)
          md-icon(md-svg-icon='attach_money', class='brew__icon--align brew__icon--onchip')
          span
            | {{order.total | currency:"CHF "}}
      span(flex)
      md-button(class='md-icon-button brew__icon--fixed', aria-label='Auf-/zuklappen')
        md-icon(md-svg-icon='expand_more', class='icon-open')
        md-icon(md-svg-icon='expand_less', class='icon-close')

  div(ng-show='showChildren')
    div(class='md-padding')
      include partial-order-detail-edit.jade
