include ../shared/sidenav/sidenav.jade

section(layout='row', flex)
	h1
		| This is the products view.
section(layout='column', flex)
	ul(ng-repeat='product in products')
		li
			a(href='#')
				| {{product.title}}
			p
				| {{product.text}}
