// FILTERS
section(class='brew__product')
  md-content(layout='row', layout-wrap)
    md-input-container(flex='45', flex-sm='45', flex-xs='100')
      label Filter
      input(ng-model='search')
    md-input-container(flex='45', flex-sm='45', flex-xs='100')
      label Sortierung
      md-select(ng-model='order')
        md-option(value='')
          | Keine
        md-option(value='name')
          | Name Alphabet ABC
        md-option(value='-name')
          | Name Alphabet ZYX
        md-option(value='-price')
          | Preis Absteigeng
        md-option(value='price')
          | Preis Aufsteigend
    md-input-container(flex='45', flex-sm='45', flex-xs='100')
      label Brau-Land
      md-select(ng-model='countryFilter')
        md-option(ng-value='')
          | Bitte auswählen
        md-option(ng-repeat='state in states' value='{{state}}')
          | {{state}}
    md-input-container(flex='45', flex-sm='45', flex-xs='100')
      label Biersorte
      md-select(ng-model='vanityFilter')
        md-option(ng-value='')
          | Bitte auswählen
        md-option(ng-repeat='vanity in vanities' value='{{vanity}}')
          | {{vanity}}

