md-dialog(aria-label='AGB', ng-cloak)
  form
    md-toolbar
      div(class='md-toolbar-tools')
        h2
          | Allgemeine Geschäftsbedingungen
        span(flex)
        md-button(class='md-icon-button', ng-click='close()')
          md-icon(md-svg-icon='close', aria-label='Schliessen', class='brew__icon')
    md-dialog-content
      div(class='md-dialog-content')
        p
          | AGB Text steht hier.
        p
          | Lieferung nur gegen Vorkasse.
        p
          | Als registrierter Benutzer erhalten Sie die Rechnung per E-Mail nach jeder Bestellung.

    md-dialog-actions(layout='row')
      md-button(ng-click='close()')
        | Schliessen
      md-button(ng-click='answer("accept")', md-autofocus, class='md-primary')
        | Gelesen und Akzeptiert
