md-dialog(aria-label='Warenkorb', ng-cloak)
  form
    md-toolbar
      div(class='md-toolbar-tools')
        h2
          | Warenkorb
        span(flex)
        md-button(class='md-icon-button', ng-click='close()')
          md-icon(md-svg-icon='close', aria-label='Schliessen')
    md-dialog-content
      div(class='md-dialog-content')
        md-list
          md-list-item(ng-repeat='item in previewItems', layout-align)
            p.md-subhead
              | {{item._name}}
            p.md-body-2
              | {{item._price | currency:"CHF "}}
            p.md-body-2
              | Anzahl: {{item._qty}}

            md-divider

    md-dialog-actions(layout='row')
      md-button(ng-click='answer("edit")')
        | Warenkorb ändern
      md-button(ng-click='close()', md-autofocus, class='md-primary')
        | Schliessen
