md-dialog(aria-label='Warenkorb', ng-cloak)
  form
    md-toolbar
      div(class='md-toolbar-tools')
        h2
          | Warenkorb
        span(flex)
        md-button(class='md-icon-button', ng-click='close()')
          md-icon(md-svg-icon='close', aria-label='Schliessen')
    md-dialog-content
      div(class='md-dialog-content')
        h2.md-title
          | {{item.name}} wurde Ihrem Warenkorb hinzugefügt.

    md-dialog-actions(layout='row')
      md-button(ng-click='answer("checkout")')
        | Jetzt bestellen
      span(flex)
      md-button(ng-click='close()')
        | Weiter einkaufen
      md-button(ng-click='answer("basket")', md-autofocus, class='md-primary')
        | Zum Warenkorb
