include ../partials/header.jade

section
  h1
    | Warenkorb
section
  md-content(layout='row', layout-wrap)
    // EMPTY BASKET
    div(ng-show='empty')
      p
        | Warenkorb ist leer.
      md-button(href='/', class='md-primary')
        | zur Startseite

    // BASKET ITEMS
    md-card(ng-hide='empty', ng-repeat='basketItem in basketItems track by basketItem._id', flex='30', flex-sm='45', flex-xs='100')
      md-card-title
        md-card-title-text
          span.md-headline(layout='row')
            | {{basketItem._name}}

      md-card-content
        p
          | Stückpreis: {{basketItem._price | currency:"CHF "}}
        p
          | Anzahl: {{basketItem._qty}}

      md-card-footer
        div(layout='row', layout-align='end end', class='md-actions')
          md-chips
            md-chip.md-title
              | {{basketItem._price * basketItem._qty | currency:"CHF "}}

          span(flex='10')

          md-button(ng-click='removeItem(basketItem)', class='md-fab md-warn')
            md-tooltip
              | Entfernen
            md-icon(md-svg-icon='delete', class='brew__icon')


// TOTAL
section(ng-hide='empty', flex)
  p
  md-divider

  md-content(layout='row', layout-wrap, class='md-padding')
    p.md-headline
      | Total: {{basketTotal | currency:"CHF "}}

  md-divider
  p
  md-divider

  md-content(layout='row', layout-wrap, class='md-padding')
    md-button(ng-click='checkout()', class='md-button md-raised md-primary')
      | Bestellen
    md-button(href='/product', class='md-primary')
      | Weiter einkaufen
