section
  h1
    | Übersicht Icons
  md-content(layout='row', layout-wrap, class='md-padding')
    table
      thead
        tr
          th
            | icon
          th
            | name
          th
            | svg-url
      tbody
        tr
          td
            md-icon(md-svg-icon='add_shopping_cart')
          td
            | add_shopping_cart
          td
            | /assets/svg/ic_add_shopping_cart_24px.svg

        tr
          td
            md-icon(md-svg-icon='arrow_back')
          td
            | arrow_back
          td
            | /assets/svg/ic_arrow_back_24px.svg

        tr
          td
            md-icon(md-svg-icon='arrow_forward')
          td
            | arrow_forward
          td
            | /assets/svg/ic_arrow_forward_24px.svg

        tr
          td
            md-icon(md-svg-icon='check_box')
          td
            | check_box
          td
            | /assets/svg/ic_check_box_24px.svg

        tr
          td
            md-icon(md-svg-icon='check_box_outline_blank')
          td
            | check_box_outline_blank
          td
            | /assets/svg/ic_check_box_outline_blank_24px.svg

        tr
          td
            md-icon(md-svg-icon='chevron_left')
          td
            | chevron_left
          td
            | /assets/svg/ic_chevron_left_24px.svg

        tr
          td
            md-icon(md-svg-icon='chevron_right')
          td
            | chevron_right
          td
            | /assets/svg/ic_chevron_right_24px.svg

        tr
          td
            md-icon(md-svg-icon='close')
          td
            | close
          td
            | /assets/svg/ic_close_right_24px.svg

        tr
          td
            md-icon(md-svg-icon='delete')
          td
            | delete
          td
            | /assets/svg/ic_delete_24px.svg

        tr
          td
            md-icon(md-svg-icon='event_note')
          td
            | event_note
          td
            | /assets/svg/ic_event_note_24px.svg

        tr
          td
            md-icon(md-svg-icon='expand_less')
          td
            | expand_less
          td
            | /assets/svg/ic_expand_less_24px.svg

        tr
          td
            md-icon(md-svg-icon='expand_more')
          td
            | expand_more
          td
            | /assets/svg/ic_expand_more_24px.svg

        tr
          td
            md-icon(md-svg-icon='indeterminate_check_box')
          td
            | indeterminate_check_box
          td
            | /assets/svg/ic_indeterminate_check_box_24px.svg

        tr
          td
            md-icon(md-svg-icon='menu')
          td
            | menu
          td
            | /assets/svg/ic_menu_24px.svg

        tr
          td
            md-icon(md-svg-icon='move_to_inbox')
          td
            | move_to_inbox
          td
            | /assets/svg/ic_move_to_inbox_24px.svg

        tr
          td
            md-icon(md-svg-icon='people')
          td
            | people
          td
            | /assets/svg/ic_people_24px.svg

        tr
          td
            md-icon(md-svg-icon='person')
          td
            | person
          td
            | /assets/svg/ic_person_24px.svg

        tr
          td
            md-icon(md-svg-icon='radio_button_checked')
          td
            | radio_button_checked
          td
            | /assets/svg/ic_radio_button_checked_24px.svg

        tr
          td
            md-icon(md-svg-icon='radio_button_unchecked')
          td
            | radio_button_unchecked
          td
            | /assets/svg/ic_radio_button_unchecked_24px.svg

        tr
          td
            md-icon(md-svg-icon='search')
          td
            | search
          td
            | /assets/svg/ic_search_24px.svg

        tr
          td
            md-icon(md-svg-icon='shopping_cart')
          td
            | shopping_cart
          td
            | /assets/svg/ic_shopping_cart_24px.svg

        tr
          td
            md-icon(md-svg-icon='star')
          td
            | star
          td
            | /assets/svg/ic_star_24px.svg

        tr
          td
            md-icon(md-svg-icon='star_border')
          td
            | star_border
          td
            | /assets/svg/ic_star_border_24px.svg

        tr
          td
            md-icon(md-svg-icon='supervisor_account')
          td
            | supervisor_account
          td
            | /assets/svg/ic_supervisor_account_24px.svg
