div(layout='row')
  // logo
  div(layout='row', flex, class='header__logo')
    a(href='/', title='Startseite')
      img(src='/assets/images/logo.png')

  // search
  div(flex, class='header__search')
    include ../search/search.jade

  // nav
  div(layout='row', flex, class='header__nav')
    a(href='basket', title='Warenkorb', ng-show='isLoggedIn()', ng-class="{active: isActive('/basket')}")
      md-icon(md-svg-icon='shopping_cart')
    a(href='settings', title='MyAccount', ng-class="{active: isActive('/settings')}")
      md-icon(md-svg-icon='person')

    // sidenav
    include ../sidenav/sidenav.jade
