.search__container {
  md-autocomplete {
    background: none;
  }

  li {
    border-bottom: 1px solid $grey;
    padding-top: 8px;
    padding-bottom: 8px;
    height: auto;
    white-space: normal;

    &:last-child {
      border-bottom-width: 0;
    }
  }

  .item {
    &__title,
    &__metadata {
      display: block;
      line-height: 2;
    }
  }
}

.search__button {
  margin-top: 3px;
  margin-bottom: 3px;
  min-width: 2em;

  @include breakpoint(sm) {
    min-width: 4em;
  }

  @include breakpoint(md) {
    min-width: 5em;
  }

  /*@include breakpoint(lg) {
    min-width: 8em;
  }*/
}
