/**
 * App-wide Styles
 */

.debug-restricted {// debug helper for all restricted views
	color: red;
	font-weight: bold;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'admin/products/products.scss';
@import 'basket/basket.scss';
@import 'checkout/checkout.scss';
@import 'main/main.scss';
@import 'product/product.scss';
@import 'test/icons/icons.scss';
@import 'test/test.scss';
@import 'header/header.scss';
@import 'search/search.scss';
@import 'sidenav/sidenav.scss';
// endinjector
