navigation(ng-controller='SidenavCtrl', layout='row', flex)
  md-sidenav(class='md-sidenav-right md-whiteframe-z2', md-component-id='right')
    md-toolbar(class='md-theme-indigo')
      p(class='md-toolbar-tools')
        | Menü
    md-content(layout-padding)
      md-button(ng-click="toggleSidenav('right')", class='md-primary', aria-label='Menü schliessen')
        md-icon(md-svg-icon='arrow_forward')
      ul
        li
          a(href='home', ng-class="{active: isActive('/')}")
            | Startseite
        li
          a(href='login', ng-hide='isLoggedIn()', ng-class="{active: isActive('/login')}")
            | Login
        li
          a(href='#', ng-click='logout()', ng-show='isLoggedIn()')
            | Logout
        li
          a(href='settings', ng-show='isLoggedIn()', ng-class="{active: isActive('/settings')}")
            | Persönlicher Bereich
        li
          a(href='registration', ng-hide='isLoggedIn()', ng-class="{active: isActive('/registration')}")
            | Registrierung
        li
          a(href='admin', ng-show='isAdmin()', ng-class="{active: isActive('/admin')}")
            | Adminbereich
        //
          li
            a(href='products', ng-class="{active: isActive('/products')}")
              | Produkte
        li
          a(href='test', ng-class="{active: isActive('/test')}")
            | Testseiten

  md-content
    div(layout='column', layout-fill, layout-align='top center')
      div
        md-button(ng-click="toggleSidenav('right')", class='md-primary', aria-label='Menü')
          md-icon(md-svg-icon='menu')
        p(hide-sm, hide-md)
          | Menü
    div(flex)
