.brew__sidenav {
  md-sidenav {
    .active {
      background-color: $grey;
    }
  }

  &-items {
    list-style: none;
    padding: 0;

    ul {
      padding: 0;
    }

    li {
      margin: 0;
    }

    & > li > ul > li > .md-button {
      padding-left: 42px;
    }

    .md-button {
      display: block;
      border-radius: 0;
      color: inherit;
      cursor: pointer;
      font-weight: 400;
      line-height: 40px;
      margin: 0;
      max-height: 40px;
      overflow: hidden;
      padding: 0 16px;
      text-align: left;
      text-decoration: none;
      white-space: normal;
      width: 100%;
    }
  }
}
