section(ng-controller='SidenavCtrl', layout='row', flex)
	md-sidenav(class='md-sidenav-left md-whiteframe-z2', md-component-id='left', md-is-locked-open="$mdMedia('gt-md')")
		md-toolbar(class='md-theme-indigo')
			h1(class='md-toolbar-tools')
				| Menu
		md-content(layout-padding, ng-controller='LeftCtrl')
			md-button(ng-click='close()', class='md-primary', hide-gt-md)
				md-icon(md-svg-icon='arrow_back')
			ul(hide-md, show-gt-md)
				li
					a(href='admin')
						| Adminbereich
				li
					a(href='products')
						| Produkte
				li
					a(href='test')
						| Testseiten

	md-content(flex, layout-padding)
		div(layout='column', layout-fill, layout-align='top center')
			div
				md-button(ng-click='toggleLeft()', class='md-primary', hide-gt-md)
					md-icon(md-svg-icon='menu')
		div(flex)