include ../partials/header.jade

h1
  | Willkommen bei brew

// FILTER
div(hide, show-gt-xs)
  //include ../product/partial-filter.jade
  include ../partials/filters.jade


// PRODUCTS
section(class='brew__product')
  md-content(layout='row', layout-wrap)
    md-card(ng-if='product.active', ng-repeat='product in products | filter:search | filter:countryFilter | filter:vanityFilter | orderBy:order track by product._id', flex='30', flex-sm='45', flex-xs='100')
      div(class='product__img')
        a(ui-sref='productdetail({ id: product._id })')
          img.md-card-image(ng-if='product.image', ng-src='/uploads/{{product.image}}', alt='product.name')
          img.md-card-image(ng-if='!product.image', ng-src='/uploads/default/beer_bottle.png', alt='product.name')

      md-card-title
        md-card-title-text
          span.md-headline(layout='row')
            | {{product.name}}
          span.md-subhead(layout='row')
            | {{product.vanity}}

      md-card-content
        p
          | {{product.info | limitTo: 50 }}...
        div(layout='row')
          div(flex, class='md-body-1')
            | Land: {{product.country}}

      md-card-footer
        div(layout='row', layout-align='end end', class='md-actions')
          md-chips
            md-chip.md-title
              | {{product.price | currency:"CHF "}}

          span(flex='10')

          md-button(ng-click='addToBasket(product)', class='md-fab md-primary')
            md-tooltip
              | In den Warenkorb
            md-icon(md-svg-icon='add_shopping_cart', class='brew__icon')

// BOTTOM FILTER
include ../product/partial-filter-bottom.jade
