//ToDo API Connection
h3.md-toolbar-tools
      | Create a new product
  md-content
    section.section.slim(layout='column')
      p
        | Create a new product for your application.
    form(ng-submit='create(form)', name='form', class='form', novalidate)
      section.section.slim(layout='column')
        span(layout='row', layout-align='start center')
          span(flex='33') Product is active
          md-switch.no-label(name='active', aria-label='product active', ng-model='product.active')
      section.section(layout='column')
        span(layout='row', layout-sm='column')
          md-input-container(flex='')
            label Name
            input(name='name', ng-model='product.name', ng-model-options="{updateOn: 'default blur', debounce: {'default': 500, 'blur': 0}}", required='', mongoose-error='', remote-unique='Product')
            div(ng-messages='form.name.$error')
              div(ng-message='required') Name is required
              div(ng-message='mongoose') Name already in use
              div(ng-message='remote-unique') Name already in use
        span(layout='row', layout-sm='column')
          md-input-container.last(flex='')
            label Info
            textarea(name='info', ng-model='product.info')
  .md-actions(layout='row')
    span(flex='')
    md-button(type='submit', class='md-raised md-primary')
      | Speichern

    md-button(ui-sref='admin.product-list', class='md-raised')
      | Abbrechen
