include ../partials/header.jade

section
  h1
    | Produkte
section
  md-content(layout='row', layout-wrap)
    md-card(ng-repeat='product in products track by product._id', flex='30', flex-md='45', flex-sm='100')
      md-card-content
        p
          | {{product.name}} (EAN: {{product.ean}})
        p
          | {{product.price | number: 2}}
        p
          | {{product.info}}

      md-card-footer
        div(layout='row', layout-align='end end', class='md-actions')
          md-button(ng-click='addToBasket(product)', class='md-icon-button md-raised md-primary')
            md-tooltip
              | In den Warenkorb
            md-icon(md-svg-icon='add_shopping_cart', class='brew__icon')

