h2.debug-restricted
  | Produkt ändern
md-content
  section.section.slim(layout='column')
    p
      | Create a new product for your application.
    form(ng-submit='create(form)', name='form', class='form', novalidate)
      section.section.slim(layout='column')
        span(layout='row', layout-align='start center')
          span(flex='33') Product is active
          md-switch.no-label(name='active', aria-label='product active', ng-model='product.active')
      section.section(layout='column')
        span(layout='row', layout-sm='column')
          md-input-container(flex='', ng-class='{ "has-success": form.name.$valid && submitted, "has-error": form.name.$invalid && submitted }')
            label
              | Name
            input(type='text', name='name', class='form-control', ng-model='product.name', required)
            p(class='help-block', ng-show='form.name.$error.required && submitted')
              | Bitte geben Sie einen Namen ein
      section.section(layout='column')
        span(layout='row', layout-sm='column')
          md-input-container(flex='', ng-class='{ "has-success": form.price.$valid && submitted, "has-error": form.price.$invalid && submitted }')
            label
              | Preis
            input(type='text', name='price', class='form-control', ng-model='product.price', required)
            p(class='help-block', ng-show='form.price.$error.required && submitted')
              | Bitte geben Sie einen Preis ein
      section.section(layout='column')
        span(layout='row', layout-sm='column')
          md-input-container(flex='', ng-class='{ "has-success": form.info.$valid && submitted, "has-error": form.info.$invalid && submitted }')
            label
              | Info
            input(type='text', name='info', class='form-control', ng-model='product.info', required)
            p(class='help-block', ng-show='form.info.$error.required && submitted')
              | Bitte geben Sie eine Info ein
      section.section(layout='column')
        span(layout='row', layout-sm='column')
          md-input-container(flex='', ng-class='{ "has-success": form.stock.$valid && submitted, "has-error": form.stock.$invalid && submitted }')
            label
              | Stück (in Harass oder Pack)
            input(type='text', name='stock', class='form-control', ng-model='product.stock', required)
            p(class='help-block', ng-show='form.stock.$error.required && submitted')
              | Bitte geben Sie die Stückzahl im Lager ein
      section.section(layout='column')
        b Geschmack
        span(class="layout-wrap layout-row flex" layout="row" layout-wrap="" flex="")
          div(class="flex-20", ng-repeat='taste in tastes')
              md-checkbox(type='checkbox', name='{{taste}}', value='{{taste}}')
              | {{taste}}
      section.section(layout='column')
        span(layout='row', layout-sm='column')
          md-input-container(flex='', ng-class='{ "has-success": form.country.$valid && submitted, "has-error": form.country.$invalid && submitted }')
            label Brau-Land
            md-select(ng-model='product.country')
              md-option(ng-repeat='state in states', value='{{state}}')
                | {{state}}
            p(class='help-block', ng-show='form.country.$error.required && submitted')
              | Bitte geben Sie ein Land an
      section.section(layout='column')
        span(layout='row', layout-sm='column')
          md-input-container(flex='', ng-class='{ "has-success": form.vanity.$valid && submitted, "has-error": form.vanity.$invalid && submitted }')
            label Biersorte
            md-select(ng-model='product.vanity')
              md-option(ng-repeat='van in vanities', value='{{van}}')
                | {{van}}
            p(class='help-block', ng-show='form.vanity.$error.required && submitted')
              | Bitte geben Sie eine Biersorte an
      md-button(type='submit', class='md-raised md-primary', ng-disabled='form.$invalid')
        | Speichern
      md-button(ui-sref='admin.product-list', class='md-raised')
        | Abbrechen
