h2.debug-restricted
  | Produkt ändern
md-content
  section.section.slim(layout='column')
    p
      | Create a new product for your application.
    form(ng-submit='create(form)', name='form', class='form', novalidate)
      section.section.slim(layout='column')
        span(layout='row', layout-align='start center')
          span(flex='33') Product is active
          md-switch.no-label(name='active', aria-label='product active', ng-model='product.active')
      section.section(layout='column')
        span(layout='row', layout-sm='column')
          md-input-container(flex='', ng-class='{ "has-success": form.name.$valid && submitted, "has-error": form.name.$invalid && submitted }')
            label
              | Name
            input(type='text', name='name', class='form-control', ng-model='product.name', required)
            p(class='help-block', ng-show='form.name.$error.required && submitted')
              | Bitte geben Sie einen Namen ein
      section.section(layout='column')
        span(layout='row', layout-sm='column')
          md-input-container(flex='', ng-class='{ "has-success": form.price.$valid && submitted, "has-error": form.price.$invalid && submitted }')
            label
              | Preis
            input(type='text', name='price', class='form-control', ng-model='product.price', required)
            p(class='help-block', ng-show='form.price.$error.required && submitted')
              | Bitte geben Sie einen Preis ein
      section.section(layout='column')
        span(layout='row', layout-sm='column')
          md-input-container(flex='', ng-class='{ "has-success": form.info.$valid && submitted, "has-error": form.info.$invalid && submitted }')
            label
              | Info
            input(type='text', name='info', class='form-control', ng-model='product.info', required)
            p(class='help-block', ng-show='form.info.$error.required && submitted')
              | Bitte geben Sie eine Info ein
      section.section(layout='column')
        span(layout='row', layout-sm='column')
          md-input-container(flex='', ng-class='{ "has-success": form.photo.$valid && submitted}')
            label
              | Foto
            input(type="file", multiple="multiple", name='photo', class='form-control', ng-model='product.photo')
      md-button(type='submit', class='md-raised md-primary')
        | Speichern
      md-button(ui-sref='admin.product-list', class='md-raised')
        | Abbrechen
