h2.md-title
  | Produktliste
section
  md-content(layout='row', layout-wrap)
    md-card(ng-repeat='product in products track by product._id', flex='30', flex-sm='45', flex-xs='100')
      div(class='product__img')
        img(ng-src='/uploads/{{product.image}}', alt='Washed Out' ng-if="product.image")
        img(ng-src='/uploads/default/beer_bottle.png', alt='Washed Out' ng-if="!product.image")

      md-card-content
        h3 {{product.name}} {{product.vol}}
        p
          b Preis:
          |   {{product.price | currency:"CHF "}}
        p
          b Info:
          br
          |{{product.info}}
        p
          b Lager:
          |   {{product.stock}}
        p
          b Land:
          |   {{product.country}}
        p
          b Biersorte:
          |   {{product.vanity}}
        md-checkbox(ng-checked="product.active" ng-disabled="true" ) Veröffentlicht

      md-card-footer
        div(layout='row', layout-align='end end')
          md-button(ng-click='confirmDelete(product)', class='md-raised md-warn')
            | Löschen
          md-button(ui-sref='admin.product-edit({ id: product._id })', class='md-raised md-primary')
            | Bearbeiten
