include ../partials/header.jade

section
  h1
    | Bestellbestätigung

section(layout='row', flex)
  md-content(layout='column', flex)
    p.md-title
      | Danke für Ihre Bestellung.
    p
      | Sie erhalten eine Benachrichtigung per E-Mail (falls angegeben), sobald Ihre Bestellung versendet wird.
section(layout='row', flex)
  md-content(layout='row', layout-wrap, flex)
    md-button(href='/', class='md-raised md-primary')
      | Im Shop stöbern
