include ../partials/header.jade

section
  h1
    | Bestellbestätigung

section(layout='row', flex)
  md-content(layout='column', flex, class='md-padding')
    p(class='md-title')
      | Danke für Ihre Bestellung.
    p
      | Sie erhalten eine Benachrichtigung per E-Mail, sobald Ihre Bestellung versendet wird.
section(layout='row', flex)
  md-content(layout='row', layout-wrap, flex, class='md-padding')
    md-button(href='/product', class='md-raised md-primary')
      | Im Shop stöbern
