include ../partials/header.jade

section
  h1
    | Bestellbestätigung

section(layout='row', flex)
  md-content(layout='row', layout-wrap, flex, class='md-padding')
    p(class='md-title')
      | Danke
