include ../partials/header.jade

section
  h1
    | Suchresultate: {{query}}

// FILTER
div(hide, show-gt-xs)
  include ../partials/filters.jade


// NO RESULTS
md-content(ng-if='empty', layout-wrap, class='md-padding')
  p
    | Keine Resultate gefunden.
  md-button(href='/', class='md-primary')
    | zur Startseite


// RESULTS
md-content(ng-if='!empty', layout='row', layout-wrap, class='md-padding')
  md-card(ng-if='result.active', ng-repeat='result in results | filter:search | filter:countryFilter | filter:vanityFilter | orderBy:order track by result._id', flex='30', flex-sm='45', flex-xs='100')
    div(class='product__img')
      a(ui-sref='productdetail({ id: result._id })')
        img(ng-if='result.image', ng-src='/uploads/{{result.image}}', alt='result.name')
        img(ng-if='!result.image', ng-src='/uploads/default/beer_bottle.png', alt='result.name')

    md-card-title
      md-card-title-text
        span.md-headline(layout='row')
          | {{result.name}}
        span.md-subhead(layout='row')
          | {{result.vanity}}

    md-card-content
      p
        | {{result.info | limitTo: 50 }}...
      div(layout='row')
          div(flex, class='md-body-1')
            | Land: {{result.country}}

    md-card-footer
      div(layout='row', layout-align='end end', class='md-actions')
        md-chips
          md-chip.md-title
            | {{result.price | currency:"CHF "}}

        span(flex='10')

        md-button(ng-click='addToBasket(result)', class='md-fab md-primary')
          md-tooltip
            | In den Warenkorb
          md-icon(md-svg-icon='add_shopping_cart', class='brew__icon')


// BOTTOM FILTER
include ../product/partial-filter-bottom.jade
