include ../partials/header.jade

section
  h1
    | Produktdetail
section(class='brew__product')
  md-content(layout='row', layout-wrap)
    md-card
      md-card-content(layout='row', layout-xs='column')
        div(flex='50', flex-xs='100')
          // DETAILS
          span.md-display-2(layout='row')
            | {{product.name}}
          span.md-subhead(layout='row')
            | {{product.vanity}}

          p
            | {{product.info }}
          div(layout='row')
              div(flex, class='md-body-1')
                | Land: {{product.country}}
          p
            | Artikelnummer: {{product.ean}}

        div(flex='50', flex-xs='100', class='brew__maxheight')
          // ACTIONS
          div(layout='row', layout-align='end end', class='md-actions')
            md-chips
              md-chip.md-title
                | {{product.price}}

            span(flex='10')

            md-button(ng-click='addToBasket(product)', class='md-fab md-primary')
              md-tooltip
                | In den Warenkorb
              md-icon(md-svg-icon='add_shopping_cart', class='brew__icon')

          // IMAGE (TODO shrink and ratio problem)
          div
            img(ng-if='product.image', ng-src='/uploads/{{product.image}}', alt='product.name')
            img(ng-if='!product.image', ng-src='/uploads/default/beer_bottle.png', alt='product.name')
