section
  h1
    | Übersicht Flex

section
  md-content(layout='row', layout-wrap)
    div(flex='33', flex-sm='100')
      include partial-card.jade

    div(flex='33', flex-sm='100')
      include partial-card.jade

    div(flex='33', flex-sm='100')
      include partial-card.jade

    div(flex='33', flex-sm='100')
     include partial-card.jade

    div(flex='33', flex-sm='100')
      include partial-card.jade

    div(flex='33', flex-sm='100')
      include partial-card.jade

    div(flex='33', flex-sm='100')
      include partial-card.jade
