md-card
  md-card-title
    md-card-title-text
      p
        | title lorem
  md-card-content
    p
      | content lorem ipsum
  md-card-footer
    md-card-actions
      md-button
        md-icon(md-svg-icon='event_note', class='brew__icon')
