.brew__container {
  margin: 0 auto;
  padding: 1em 0.5em;
  min-width: $min-width;
  background-color: $white;

  @include breakpoint(sm) {
    max-width: $max-width;
  }

  // any md-chips
  md-chips,
  & .md-chips {
    box-shadow: none;
  }
  md-chips {
    .md-title {
      padding: 0 16px;
      text-shadow: rgb(224, 224, 224) 1px 1px 0;
      background-color: rgb(186, 186, 186);
    }
  }

  // bottom sticky filter
  .sticky {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 80;
    background-color: $white;
    box-shadow: 0 0 10px rgba(0,0,0,.8);

    md-toolbar {
      cursor: pointer;
    }

    &.state- {
      &closed {
         height: 56px;// md-toolbar

        .icon-open {
          display: none;
        }
        .icon-close {
          display: inline-block;
        }
      }

      &open {
        //height: 400px;
        height: 50%;

        .icon-open {
          display: inline-block;
        }
        .icon-close {
          display: none;
        }
      }
    }
  }
}
