body {
  background: url('/assets/images/bg3.png') no-repeat top center;
  //@include linear-gradient(180deg,  rgba(0,0,0,0), $white);

  // depth to body
  &::before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
    box-shadow: $shadow-box;
  }
}

img {
  max-width: 100%;
  height: auto;
}
