body {
  background: url('/assets/images/bg4.png') no-repeat top center;

  // depth to body
  &::before {
    content: "";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 100;
    box-shadow: $shadow-box;
  }
}

img {
  max-width: 100%;
  height: auto;
}
