h2.debug-restricted
	| list all users for admin
section
	md-content(layout='row', layout-wrap, class='md-padding')
		md-card(ng-repeat='user in users track by user._id', flex='25', flex-md='33', flex-sm='100')
			md-card-content
				p
					| {{user.email}}
				p
					| {{user.password}}
				p
					| {{user.role}}
			div(layout='row', layout-align='end center', class='md-actions')
				md-button(ui-sref='admin.user-destroy({ id: user._id })')
					| delete
				md-button(ui-sref='admin.user-update({ id: user._id })')
					| edit
