h2
  | Benutzerliste
section
  md-content(layout='row', layout-wrap)
    md-card(ng-repeat='user in users track by user._id', flex='30', flex-sm='45', flex-xs='100')
      md-card-content
        p
          | {{user.email}}
        p
          | {{user.password}}
        p
          | {{user.role}}
        div(layout='row', layout-align='end center', class='md-actions')
          md-button(ng-click='confirmDelete(user)', class='md-button md-raised md-warn')
            | Löschen
