h2.debug-restricted
  | Benutzer ändern
section
  md-content(layout='row', layout-wrap, class='md-padding')
    form(ng-submit='update(form)', name='form', class='form', novalidate)
      div(class='form-group')
        label
          | E-Mail Adresse
        input(type='email', name='email', class='form-control', ng-model='user.email', readonly)

      div(class='form-group', ng-class="{ 'has-success': form.password.$valid && submitted, 'has-error': form.password.$invalid && submitted }")
        label
          | Passwort
        input(type='password', name='password', class='form-control', ng-model='user.password',	ng-minlength='3', required)

        p(class='help-block', ng-show='(form.password.$error.minlength || form.password.$error.required) && submitted')
          | Passwort muss mindestens 3 Zeichen lang sein

        p(class='help-block', ng-show='form.password.$error.mongoose')
          | {{ errors.password }}

      //div(class='form-group')
        label
          | Rolle
        input(type='text', name='role', class='form-control', ng-model='user.role')


      md-button(type='submit', class='btn btn-inverse btn-lg btn-login')
        | Speichern

      md-button(ui-sref='admin.user-list')
        | Abbrechen
