div(layout='row')
	// logo
	div(layout='row', flex, class='header__logo')
		a(href='/home', title='Startseite')
			img(src='/assets/images/logo.png')
		p(hide-sm, hide-md)
			| shop title

	// search
	div(flex, class='header__search')
		include ../search/search.jade

	// nav
	div(layout='row', flex, class='header__nav')
		a(href='#', title='Warenkorb', ng-show='isLoggedIn()', ng-class="{active: isActive('/basket')}")
			md-icon(md-svg-icon='shopping_cart')
		a(href='settings', title='MyAccount', ng-class="{active: isActive('/settings')}")
			md-icon(md-svg-icon='person')

		// sidenav
		include ../sidenav/sidenav.jade
