h2
	| list all products for admin
section(layout='column', flex)
	ul(ng-repeat='product in products')
		li
			a(href='#')
				| {{product.title}}
			p
				| {{product.text}}
			button
				| action todo